<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Enter your joke </h1>
<form action="/add" th:object="${joke}" method="POST">

    <p>Title:</p> <input type="text" th:field="*{title}"/><br><br>
    Category:
    <select name="jokes" id="jokes" th:field="*{category}">
        <option value="Family">Family</option>
        <option value="Adult">Adult</option>
        <option value="General">General</option>
    </select>


    <p>Joke:</p> <textarea name="body" th:field="*{body}" rows="4" cols="20"></textarea>
    <p>Author: </p><input type="text" th:field="*{author}"/><br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>