<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="post" th:object="${Joke}">

    <p>Title: <input type="text" th:field="*{title}"></p>
    <p>Category:
        <select th:field="*{CATEGORY}">
            <option value="Family">Family</option>
            <option value="Adult">Adult</option>
            <option value="General">General</option>
        </select>
    </p>
    <p>Joke: <input type="" th:field="*{body}"></p>
    <p>Author: <input type="" th:field="*{author}"></p>
    <input type="submit" value="Submit">


</form>

</body>
</html>