<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>
<div>
<h1> Enter your joke </h1>

<form action="/add" th:object="${joke}" method="POST">

    <p>Title:</p> <input type="text" th:field="*{title}"/><br><br>
    Select Category:
    <select class="form-select" aria-label="Default select example" name="jokes" id="jokes" th:field="*{category}">

        <option value="Family">Family</option>
        <option value="Adult">Adult</option>
        <option value="Dark">Dark</option>

    </select>


    <p>Joke:</p> <textarea name="body" th:field="*{body}" rows="4" cols="20" class="test" th:errorclass="error"></textarea>
    <p th:if="${#fields.hasErrors('body')}">Bad Joke!!!</p>
    <p>Author: </p><input type="text" th:field="*{author}"/><br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
</div>
</body>
</html>